body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: pink;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    white-space: nowrap;
}

.container {
    text-align: center;
}

.btn {
    padding: 30px 50px;
    margin: 10px;
    background-color: white;
    border: none;
    font-size: 30px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-image: url("https://images.unsplash.com/photo-1570668088356-520deb6dc993?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGRydW18ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    color: pink;
}

.btn:active {
    background-size: 105%;
}